<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.bos.mapper.TCourierMapper" >
  <resultMap id="BaseResultMap" type="com.logistics.module.bos.model.TCourier" >
    <id column="C_ID" property="cId" jdbcType="INTEGER" />
    <result column="C_CHECK_PWD" property="cCheckPwd" jdbcType="VARCHAR" />
    <result column="C_COMPANY" property="cCompany" jdbcType="VARCHAR" />
    <result column="C_COURIER_NUM" property="cCourierNum" jdbcType="VARCHAR" />
    <result column="C_DELTAG" property="cDeltag" jdbcType="CHAR" />
    <result column="C_NAME" property="cName" jdbcType="VARCHAR" />
    <result column="C_PDA" property="cPda" jdbcType="VARCHAR" />
    <result column="C_TELEPHONE" property="cTelephone" jdbcType="VARCHAR" />
    <result column="C_TYPE" property="cType" jdbcType="VARCHAR" />
    <result column="C_VEHICLE_NUM" property="cVehicleNum" jdbcType="VARCHAR" />
    <result column="C_VEHICLE_TYPE" property="cVehicleType" jdbcType="VARCHAR" />
    <result column="C_STANDARD_ID" property="cStandardId" jdbcType="INTEGER" />
    <result column="C_TAKETIME_ID" property="cTaketimeId" jdbcType="INTEGER" />
    <result column="C_Fixed_AREA_ID" property="cFixedAreaId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_ID, C_CHECK_PWD, C_COMPANY, C_COURIER_NUM, C_DELTAG, C_NAME, C_PDA, C_TELEPHONE, 
    C_TYPE, C_VEHICLE_NUM, C_VEHICLE_TYPE, C_STANDARD_ID, C_TAKETIME_ID, C_Fixed_AREA_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.logistics.module.bos.model.TCourierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_courier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_courier
    where C_ID = #{cId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.logistics.module.bos.model.TCourier" >
    insert into t_courier (C_ID, C_CHECK_PWD, C_COMPANY, 
      C_COURIER_NUM, C_DELTAG, C_NAME, 
      C_PDA, C_TELEPHONE, C_TYPE, 
      C_VEHICLE_NUM, C_VEHICLE_TYPE, C_STANDARD_ID, 
      C_TAKETIME_ID, C_Fixed_AREA_ID)
    values (#{cId,jdbcType=INTEGER}, #{cCheckPwd,jdbcType=VARCHAR}, #{cCompany,jdbcType=VARCHAR}, 
      #{cCourierNum,jdbcType=VARCHAR}, #{cDeltag,jdbcType=CHAR}, #{cName,jdbcType=VARCHAR}, 
      #{cPda,jdbcType=VARCHAR}, #{cTelephone,jdbcType=VARCHAR}, #{cType,jdbcType=VARCHAR}, 
      #{cVehicleNum,jdbcType=VARCHAR}, #{cVehicleType,jdbcType=VARCHAR}, #{cStandardId,jdbcType=INTEGER}, 
      #{cTaketimeId,jdbcType=INTEGER}, #{cFixedAreaId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.logistics.module.bos.model.TCourier" >
    insert into t_courier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cCheckPwd != null" >
        C_CHECK_PWD,
      </if>
      <if test="cCompany != null" >
        C_COMPANY,
      </if>
      <if test="cCourierNum != null" >
        C_COURIER_NUM,
      </if>
      <if test="cDeltag != null" >
        C_DELTAG,
      </if>
      <if test="cName != null" >
        C_NAME,
      </if>
      <if test="cPda != null" >
        C_PDA,
      </if>
      <if test="cTelephone != null" >
        C_TELEPHONE,
      </if>
      <if test="cType != null" >
        C_TYPE,
      </if>
      <if test="cVehicleNum != null" >
        C_VEHICLE_NUM,
      </if>
      <if test="cVehicleType != null" >
        C_VEHICLE_TYPE,
      </if>
      <if test="cStandardId != null" >
        C_STANDARD_ID,
      </if>
      <if test="cTaketimeId != null" >
        C_TAKETIME_ID,
      </if>
      <if test="cFixedAreaId != null" >
        C_Fixed_AREA_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cCheckPwd != null" >
        #{cCheckPwd,jdbcType=VARCHAR},
      </if>
      <if test="cCompany != null" >
        #{cCompany,jdbcType=VARCHAR},
      </if>
      <if test="cCourierNum != null" >
        #{cCourierNum,jdbcType=VARCHAR},
      </if>
      <if test="cDeltag != null" >
        #{cDeltag,jdbcType=CHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPda != null" >
        #{cPda,jdbcType=VARCHAR},
      </if>
      <if test="cTelephone != null" >
        #{cTelephone,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        #{cType,jdbcType=VARCHAR},
      </if>
      <if test="cVehicleNum != null" >
        #{cVehicleNum,jdbcType=VARCHAR},
      </if>
      <if test="cVehicleType != null" >
        #{cVehicleType,jdbcType=VARCHAR},
      </if>
      <if test="cStandardId != null" >
        #{cStandardId,jdbcType=INTEGER},
      </if>
      <if test="cTaketimeId != null" >
        #{cTaketimeId,jdbcType=INTEGER},
      </if>
      <if test="cFixedAreaId != null" >
        #{cFixedAreaId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.logistics.module.bos.model.TCourierExample" resultType="java.lang.Integer" >
    select count(*) from t_courier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_courier
    <set >
      <if test="record.cId != null" >
        C_ID = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cCheckPwd != null" >
        C_CHECK_PWD = #{record.cCheckPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.cCompany != null" >
        C_COMPANY = #{record.cCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.cCourierNum != null" >
        C_COURIER_NUM = #{record.cCourierNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cDeltag != null" >
        C_DELTAG = #{record.cDeltag,jdbcType=CHAR},
      </if>
      <if test="record.cName != null" >
        C_NAME = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cPda != null" >
        C_PDA = #{record.cPda,jdbcType=VARCHAR},
      </if>
      <if test="record.cTelephone != null" >
        C_TELEPHONE = #{record.cTelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.cType != null" >
        C_TYPE = #{record.cType,jdbcType=VARCHAR},
      </if>
      <if test="record.cVehicleNum != null" >
        C_VEHICLE_NUM = #{record.cVehicleNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cVehicleType != null" >
        C_VEHICLE_TYPE = #{record.cVehicleType,jdbcType=VARCHAR},
      </if>
      <if test="record.cStandardId != null" >
        C_STANDARD_ID = #{record.cStandardId,jdbcType=INTEGER},
      </if>
      <if test="record.cTaketimeId != null" >
        C_TAKETIME_ID = #{record.cTaketimeId,jdbcType=INTEGER},
      </if>
      <if test="record.cFixedAreaId != null" >
        C_Fixed_AREA_ID = #{record.cFixedAreaId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_courier
    set C_ID = #{record.cId,jdbcType=INTEGER},
      C_CHECK_PWD = #{record.cCheckPwd,jdbcType=VARCHAR},
      C_COMPANY = #{record.cCompany,jdbcType=VARCHAR},
      C_COURIER_NUM = #{record.cCourierNum,jdbcType=VARCHAR},
      C_DELTAG = #{record.cDeltag,jdbcType=CHAR},
      C_NAME = #{record.cName,jdbcType=VARCHAR},
      C_PDA = #{record.cPda,jdbcType=VARCHAR},
      C_TELEPHONE = #{record.cTelephone,jdbcType=VARCHAR},
      C_TYPE = #{record.cType,jdbcType=VARCHAR},
      C_VEHICLE_NUM = #{record.cVehicleNum,jdbcType=VARCHAR},
      C_VEHICLE_TYPE = #{record.cVehicleType,jdbcType=VARCHAR},
      C_STANDARD_ID = #{record.cStandardId,jdbcType=INTEGER},
      C_TAKETIME_ID = #{record.cTaketimeId,jdbcType=INTEGER},
      C_Fixed_AREA_ID = #{record.cFixedAreaId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.logistics.module.bos.model.TCourier" >
    update t_courier
    <set >
      <if test="cCheckPwd != null" >
        C_CHECK_PWD = #{cCheckPwd,jdbcType=VARCHAR},
      </if>
      <if test="cCompany != null" >
        C_COMPANY = #{cCompany,jdbcType=VARCHAR},
      </if>
      <if test="cCourierNum != null" >
        C_COURIER_NUM = #{cCourierNum,jdbcType=VARCHAR},
      </if>
      <if test="cDeltag != null" >
        C_DELTAG = #{cDeltag,jdbcType=CHAR},
      </if>
      <if test="cName != null" >
        C_NAME = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPda != null" >
        C_PDA = #{cPda,jdbcType=VARCHAR},
      </if>
      <if test="cTelephone != null" >
        C_TELEPHONE = #{cTelephone,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        C_TYPE = #{cType,jdbcType=VARCHAR},
      </if>
      <if test="cVehicleNum != null" >
        C_VEHICLE_NUM = #{cVehicleNum,jdbcType=VARCHAR},
      </if>
      <if test="cVehicleType != null" >
        C_VEHICLE_TYPE = #{cVehicleType,jdbcType=VARCHAR},
      </if>
      <if test="cStandardId != null" >
        C_STANDARD_ID = #{cStandardId,jdbcType=INTEGER},
      </if>
      <if test="cTaketimeId != null" >
        C_TAKETIME_ID = #{cTaketimeId,jdbcType=INTEGER},
      </if>
      <if test="cFixedAreaId != null" >
        C_Fixed_AREA_ID = #{cFixedAreaId,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.logistics.module.bos.model.TCourier" >
    update t_courier
    set C_CHECK_PWD = #{cCheckPwd,jdbcType=VARCHAR},
      C_COMPANY = #{cCompany,jdbcType=VARCHAR},
      C_COURIER_NUM = #{cCourierNum,jdbcType=VARCHAR},
      C_DELTAG = #{cDeltag,jdbcType=CHAR},
      C_NAME = #{cName,jdbcType=VARCHAR},
      C_PDA = #{cPda,jdbcType=VARCHAR},
      C_TELEPHONE = #{cTelephone,jdbcType=VARCHAR},
      C_TYPE = #{cType,jdbcType=VARCHAR},
      C_VEHICLE_NUM = #{cVehicleNum,jdbcType=VARCHAR},
      C_VEHICLE_TYPE = #{cVehicleType,jdbcType=VARCHAR},
      C_STANDARD_ID = #{cStandardId,jdbcType=INTEGER},
      C_TAKETIME_ID = #{cTaketimeId,jdbcType=INTEGER},
      C_Fixed_AREA_ID = #{cFixedAreaId,jdbcType=VARCHAR}
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
</mapper>