<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.bos.mapper.TFixedareaCourierMapper" >
  <resultMap id="BaseResultMap" type="com.logistics.module.bos.model.TFixedareaCourierKey" >
    <id column="C_FIXED_AREA_ID" property="cFixedAreaId" jdbcType="VARCHAR" />
    <id column="C_COURIER_ID" property="cCourierId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_FIXED_AREA_ID, C_COURIER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.logistics.module.bos.model.TFixedareaCourierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_fixedarea_courier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.logistics.module.bos.model.TFixedareaCourierKey" >
    insert into t_fixedarea_courier (C_FIXED_AREA_ID, C_COURIER_ID)
    values (#{cFixedAreaId,jdbcType=VARCHAR}, #{cCourierId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.logistics.module.bos.model.TFixedareaCourierKey" >
    insert into t_fixedarea_courier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cFixedAreaId != null" >
        C_FIXED_AREA_ID,
      </if>
      <if test="cCourierId != null" >
        C_COURIER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cFixedAreaId != null" >
        #{cFixedAreaId,jdbcType=VARCHAR},
      </if>
      <if test="cCourierId != null" >
        #{cCourierId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.logistics.module.bos.model.TFixedareaCourierExample" resultType="java.lang.Integer" >
    select count(*) from t_fixedarea_courier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_fixedarea_courier
    <set >
      <if test="record.cFixedAreaId != null" >
        C_FIXED_AREA_ID = #{record.cFixedAreaId,jdbcType=VARCHAR},
      </if>
      <if test="record.cCourierId != null" >
        C_COURIER_ID = #{record.cCourierId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_fixedarea_courier
    set C_FIXED_AREA_ID = #{record.cFixedAreaId,jdbcType=VARCHAR},
      C_COURIER_ID = #{record.cCourierId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>