<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.bos.mapper.TOrderMapper" >
  <resultMap id="BaseResultMap" type="com.logistics.module.bos.model.TOrder" >
    <id column="C_ID" property="cId" jdbcType="INTEGER" />
    <result column="C_CUSTOMER_ID" property="cCustomerId" jdbcType="INTEGER" />
    <result column="C_GOODS_TYPE" property="cGoodsType" jdbcType="VARCHAR" />
    <result column="C_ORDER_NUM" property="cOrderNum" jdbcType="VARCHAR" />
    <result column="C_ORDER_TIME" property="cOrderTime" jdbcType="TIMESTAMP" />
    <result column="C_ORDER_TYPE" property="cOrderType" jdbcType="VARCHAR" />
    <result column="C_PAY_TYPE_NUM" property="cPayTypeNum" jdbcType="VARCHAR" />
    <result column="C_REC_ADDRESS" property="cRecAddress" jdbcType="VARCHAR" />
    <result column="C_REC_COMPANY" property="cRecCompany" jdbcType="VARCHAR" />
    <result column="C_REC_MOBILE" property="cRecMobile" jdbcType="VARCHAR" />
    <result column="C_REC_NAME" property="cRecName" jdbcType="VARCHAR" />
    <result column="C_REMARK" property="cRemark" jdbcType="VARCHAR" />
    <result column="C_SEND_ADDRESS" property="cSendAddress" jdbcType="VARCHAR" />
    <result column="C_SEND_COMPANY" property="cSendCompany" jdbcType="VARCHAR" />
    <result column="C_SEND_MOBILE" property="cSendMobile" jdbcType="VARCHAR" />
    <result column="C_SEND_MOBILE_MSG" property="cSendMobileMsg" jdbcType="VARCHAR" />
    <result column="C_SEND_NAME" property="cSendName" jdbcType="VARCHAR" />
    <result column="C_SEND_PRO_NUM" property="cSendProNum" jdbcType="VARCHAR" />
    <result column="C_STATUS" property="cStatus" jdbcType="VARCHAR" />
    <result column="C_TELEPHONE" property="cTelephone" jdbcType="VARCHAR" />
    <result column="C_WEIGHT" property="cWeight" jdbcType="DOUBLE" />
    <result column="C_COURIER_ID" property="cCourierId" jdbcType="INTEGER" />
    <result column="C_REC_AREA_ID" property="cRecAreaId" jdbcType="VARCHAR" />
    <result column="C_SEND_AREA_ID" property="cSendAreaId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_ID, C_CUSTOMER_ID, C_GOODS_TYPE, C_ORDER_NUM, C_ORDER_TIME, C_ORDER_TYPE, C_PAY_TYPE_NUM, 
    C_REC_ADDRESS, C_REC_COMPANY, C_REC_MOBILE, C_REC_NAME, C_REMARK, C_SEND_ADDRESS, 
    C_SEND_COMPANY, C_SEND_MOBILE, C_SEND_MOBILE_MSG, C_SEND_NAME, C_SEND_PRO_NUM, C_STATUS, 
    C_TELEPHONE, C_WEIGHT, C_COURIER_ID, C_REC_AREA_ID, C_SEND_AREA_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.logistics.module.bos.model.TOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where C_ID = #{cId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.logistics.module.bos.model.TOrder" >
    insert into t_order (C_ID, C_CUSTOMER_ID, C_GOODS_TYPE, 
      C_ORDER_NUM, C_ORDER_TIME, C_ORDER_TYPE, 
      C_PAY_TYPE_NUM, C_REC_ADDRESS, C_REC_COMPANY, 
      C_REC_MOBILE, C_REC_NAME, C_REMARK, 
      C_SEND_ADDRESS, C_SEND_COMPANY, C_SEND_MOBILE, 
      C_SEND_MOBILE_MSG, C_SEND_NAME, C_SEND_PRO_NUM, 
      C_STATUS, C_TELEPHONE, C_WEIGHT, 
      C_COURIER_ID, C_REC_AREA_ID, C_SEND_AREA_ID
      )
    values (#{cId,jdbcType=INTEGER}, #{cCustomerId,jdbcType=INTEGER}, #{cGoodsType,jdbcType=VARCHAR}, 
      #{cOrderNum,jdbcType=VARCHAR}, #{cOrderTime,jdbcType=TIMESTAMP}, #{cOrderType,jdbcType=VARCHAR}, 
      #{cPayTypeNum,jdbcType=VARCHAR}, #{cRecAddress,jdbcType=VARCHAR}, #{cRecCompany,jdbcType=VARCHAR}, 
      #{cRecMobile,jdbcType=VARCHAR}, #{cRecName,jdbcType=VARCHAR}, #{cRemark,jdbcType=VARCHAR}, 
      #{cSendAddress,jdbcType=VARCHAR}, #{cSendCompany,jdbcType=VARCHAR}, #{cSendMobile,jdbcType=VARCHAR}, 
      #{cSendMobileMsg,jdbcType=VARCHAR}, #{cSendName,jdbcType=VARCHAR}, #{cSendProNum,jdbcType=VARCHAR}, 
      #{cStatus,jdbcType=VARCHAR}, #{cTelephone,jdbcType=VARCHAR}, #{cWeight,jdbcType=DOUBLE}, 
      #{cCourierId,jdbcType=INTEGER}, #{cRecAreaId,jdbcType=VARCHAR}, #{cSendAreaId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.logistics.module.bos.model.TOrder" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cCustomerId != null" >
        C_CUSTOMER_ID,
      </if>
      <if test="cGoodsType != null" >
        C_GOODS_TYPE,
      </if>
      <if test="cOrderNum != null" >
        C_ORDER_NUM,
      </if>
      <if test="cOrderTime != null" >
        C_ORDER_TIME,
      </if>
      <if test="cOrderType != null" >
        C_ORDER_TYPE,
      </if>
      <if test="cPayTypeNum != null" >
        C_PAY_TYPE_NUM,
      </if>
      <if test="cRecAddress != null" >
        C_REC_ADDRESS,
      </if>
      <if test="cRecCompany != null" >
        C_REC_COMPANY,
      </if>
      <if test="cRecMobile != null" >
        C_REC_MOBILE,
      </if>
      <if test="cRecName != null" >
        C_REC_NAME,
      </if>
      <if test="cRemark != null" >
        C_REMARK,
      </if>
      <if test="cSendAddress != null" >
        C_SEND_ADDRESS,
      </if>
      <if test="cSendCompany != null" >
        C_SEND_COMPANY,
      </if>
      <if test="cSendMobile != null" >
        C_SEND_MOBILE,
      </if>
      <if test="cSendMobileMsg != null" >
        C_SEND_MOBILE_MSG,
      </if>
      <if test="cSendName != null" >
        C_SEND_NAME,
      </if>
      <if test="cSendProNum != null" >
        C_SEND_PRO_NUM,
      </if>
      <if test="cStatus != null" >
        C_STATUS,
      </if>
      <if test="cTelephone != null" >
        C_TELEPHONE,
      </if>
      <if test="cWeight != null" >
        C_WEIGHT,
      </if>
      <if test="cCourierId != null" >
        C_COURIER_ID,
      </if>
      <if test="cRecAreaId != null" >
        C_REC_AREA_ID,
      </if>
      <if test="cSendAreaId != null" >
        C_SEND_AREA_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cCustomerId != null" >
        #{cCustomerId,jdbcType=INTEGER},
      </if>
      <if test="cGoodsType != null" >
        #{cGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="cOrderNum != null" >
        #{cOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="cOrderTime != null" >
        #{cOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cOrderType != null" >
        #{cOrderType,jdbcType=VARCHAR},
      </if>
      <if test="cPayTypeNum != null" >
        #{cPayTypeNum,jdbcType=VARCHAR},
      </if>
      <if test="cRecAddress != null" >
        #{cRecAddress,jdbcType=VARCHAR},
      </if>
      <if test="cRecCompany != null" >
        #{cRecCompany,jdbcType=VARCHAR},
      </if>
      <if test="cRecMobile != null" >
        #{cRecMobile,jdbcType=VARCHAR},
      </if>
      <if test="cRecName != null" >
        #{cRecName,jdbcType=VARCHAR},
      </if>
      <if test="cRemark != null" >
        #{cRemark,jdbcType=VARCHAR},
      </if>
      <if test="cSendAddress != null" >
        #{cSendAddress,jdbcType=VARCHAR},
      </if>
      <if test="cSendCompany != null" >
        #{cSendCompany,jdbcType=VARCHAR},
      </if>
      <if test="cSendMobile != null" >
        #{cSendMobile,jdbcType=VARCHAR},
      </if>
      <if test="cSendMobileMsg != null" >
        #{cSendMobileMsg,jdbcType=VARCHAR},
      </if>
      <if test="cSendName != null" >
        #{cSendName,jdbcType=VARCHAR},
      </if>
      <if test="cSendProNum != null" >
        #{cSendProNum,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null" >
        #{cStatus,jdbcType=VARCHAR},
      </if>
      <if test="cTelephone != null" >
        #{cTelephone,jdbcType=VARCHAR},
      </if>
      <if test="cWeight != null" >
        #{cWeight,jdbcType=DOUBLE},
      </if>
      <if test="cCourierId != null" >
        #{cCourierId,jdbcType=INTEGER},
      </if>
      <if test="cRecAreaId != null" >
        #{cRecAreaId,jdbcType=VARCHAR},
      </if>
      <if test="cSendAreaId != null" >
        #{cSendAreaId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.logistics.module.bos.model.TOrderExample" resultType="java.lang.Integer" >
    select count(*) from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order
    <set >
      <if test="record.cId != null" >
        C_ID = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cCustomerId != null" >
        C_CUSTOMER_ID = #{record.cCustomerId,jdbcType=INTEGER},
      </if>
      <if test="record.cGoodsType != null" >
        C_GOODS_TYPE = #{record.cGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="record.cOrderNum != null" >
        C_ORDER_NUM = #{record.cOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cOrderTime != null" >
        C_ORDER_TIME = #{record.cOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cOrderType != null" >
        C_ORDER_TYPE = #{record.cOrderType,jdbcType=VARCHAR},
      </if>
      <if test="record.cPayTypeNum != null" >
        C_PAY_TYPE_NUM = #{record.cPayTypeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cRecAddress != null" >
        C_REC_ADDRESS = #{record.cRecAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cRecCompany != null" >
        C_REC_COMPANY = #{record.cRecCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.cRecMobile != null" >
        C_REC_MOBILE = #{record.cRecMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.cRecName != null" >
        C_REC_NAME = #{record.cRecName,jdbcType=VARCHAR},
      </if>
      <if test="record.cRemark != null" >
        C_REMARK = #{record.cRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.cSendAddress != null" >
        C_SEND_ADDRESS = #{record.cSendAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cSendCompany != null" >
        C_SEND_COMPANY = #{record.cSendCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.cSendMobile != null" >
        C_SEND_MOBILE = #{record.cSendMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.cSendMobileMsg != null" >
        C_SEND_MOBILE_MSG = #{record.cSendMobileMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.cSendName != null" >
        C_SEND_NAME = #{record.cSendName,jdbcType=VARCHAR},
      </if>
      <if test="record.cSendProNum != null" >
        C_SEND_PRO_NUM = #{record.cSendProNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cStatus != null" >
        C_STATUS = #{record.cStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.cTelephone != null" >
        C_TELEPHONE = #{record.cTelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.cWeight != null" >
        C_WEIGHT = #{record.cWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.cCourierId != null" >
        C_COURIER_ID = #{record.cCourierId,jdbcType=INTEGER},
      </if>
      <if test="record.cRecAreaId != null" >
        C_REC_AREA_ID = #{record.cRecAreaId,jdbcType=VARCHAR},
      </if>
      <if test="record.cSendAreaId != null" >
        C_SEND_AREA_ID = #{record.cSendAreaId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order
    set C_ID = #{record.cId,jdbcType=INTEGER},
      C_CUSTOMER_ID = #{record.cCustomerId,jdbcType=INTEGER},
      C_GOODS_TYPE = #{record.cGoodsType,jdbcType=VARCHAR},
      C_ORDER_NUM = #{record.cOrderNum,jdbcType=VARCHAR},
      C_ORDER_TIME = #{record.cOrderTime,jdbcType=TIMESTAMP},
      C_ORDER_TYPE = #{record.cOrderType,jdbcType=VARCHAR},
      C_PAY_TYPE_NUM = #{record.cPayTypeNum,jdbcType=VARCHAR},
      C_REC_ADDRESS = #{record.cRecAddress,jdbcType=VARCHAR},
      C_REC_COMPANY = #{record.cRecCompany,jdbcType=VARCHAR},
      C_REC_MOBILE = #{record.cRecMobile,jdbcType=VARCHAR},
      C_REC_NAME = #{record.cRecName,jdbcType=VARCHAR},
      C_REMARK = #{record.cRemark,jdbcType=VARCHAR},
      C_SEND_ADDRESS = #{record.cSendAddress,jdbcType=VARCHAR},
      C_SEND_COMPANY = #{record.cSendCompany,jdbcType=VARCHAR},
      C_SEND_MOBILE = #{record.cSendMobile,jdbcType=VARCHAR},
      C_SEND_MOBILE_MSG = #{record.cSendMobileMsg,jdbcType=VARCHAR},
      C_SEND_NAME = #{record.cSendName,jdbcType=VARCHAR},
      C_SEND_PRO_NUM = #{record.cSendProNum,jdbcType=VARCHAR},
      C_STATUS = #{record.cStatus,jdbcType=VARCHAR},
      C_TELEPHONE = #{record.cTelephone,jdbcType=VARCHAR},
      C_WEIGHT = #{record.cWeight,jdbcType=DOUBLE},
      C_COURIER_ID = #{record.cCourierId,jdbcType=INTEGER},
      C_REC_AREA_ID = #{record.cRecAreaId,jdbcType=VARCHAR},
      C_SEND_AREA_ID = #{record.cSendAreaId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.logistics.module.bos.model.TOrder" >
    update t_order
    <set >
      <if test="cCustomerId != null" >
        C_CUSTOMER_ID = #{cCustomerId,jdbcType=INTEGER},
      </if>
      <if test="cGoodsType != null" >
        C_GOODS_TYPE = #{cGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="cOrderNum != null" >
        C_ORDER_NUM = #{cOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="cOrderTime != null" >
        C_ORDER_TIME = #{cOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cOrderType != null" >
        C_ORDER_TYPE = #{cOrderType,jdbcType=VARCHAR},
      </if>
      <if test="cPayTypeNum != null" >
        C_PAY_TYPE_NUM = #{cPayTypeNum,jdbcType=VARCHAR},
      </if>
      <if test="cRecAddress != null" >
        C_REC_ADDRESS = #{cRecAddress,jdbcType=VARCHAR},
      </if>
      <if test="cRecCompany != null" >
        C_REC_COMPANY = #{cRecCompany,jdbcType=VARCHAR},
      </if>
      <if test="cRecMobile != null" >
        C_REC_MOBILE = #{cRecMobile,jdbcType=VARCHAR},
      </if>
      <if test="cRecName != null" >
        C_REC_NAME = #{cRecName,jdbcType=VARCHAR},
      </if>
      <if test="cRemark != null" >
        C_REMARK = #{cRemark,jdbcType=VARCHAR},
      </if>
      <if test="cSendAddress != null" >
        C_SEND_ADDRESS = #{cSendAddress,jdbcType=VARCHAR},
      </if>
      <if test="cSendCompany != null" >
        C_SEND_COMPANY = #{cSendCompany,jdbcType=VARCHAR},
      </if>
      <if test="cSendMobile != null" >
        C_SEND_MOBILE = #{cSendMobile,jdbcType=VARCHAR},
      </if>
      <if test="cSendMobileMsg != null" >
        C_SEND_MOBILE_MSG = #{cSendMobileMsg,jdbcType=VARCHAR},
      </if>
      <if test="cSendName != null" >
        C_SEND_NAME = #{cSendName,jdbcType=VARCHAR},
      </if>
      <if test="cSendProNum != null" >
        C_SEND_PRO_NUM = #{cSendProNum,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null" >
        C_STATUS = #{cStatus,jdbcType=VARCHAR},
      </if>
      <if test="cTelephone != null" >
        C_TELEPHONE = #{cTelephone,jdbcType=VARCHAR},
      </if>
      <if test="cWeight != null" >
        C_WEIGHT = #{cWeight,jdbcType=DOUBLE},
      </if>
      <if test="cCourierId != null" >
        C_COURIER_ID = #{cCourierId,jdbcType=INTEGER},
      </if>
      <if test="cRecAreaId != null" >
        C_REC_AREA_ID = #{cRecAreaId,jdbcType=VARCHAR},
      </if>
      <if test="cSendAreaId != null" >
        C_SEND_AREA_ID = #{cSendAreaId,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.logistics.module.bos.model.TOrder" >
    update t_order
    set C_CUSTOMER_ID = #{cCustomerId,jdbcType=INTEGER},
      C_GOODS_TYPE = #{cGoodsType,jdbcType=VARCHAR},
      C_ORDER_NUM = #{cOrderNum,jdbcType=VARCHAR},
      C_ORDER_TIME = #{cOrderTime,jdbcType=TIMESTAMP},
      C_ORDER_TYPE = #{cOrderType,jdbcType=VARCHAR},
      C_PAY_TYPE_NUM = #{cPayTypeNum,jdbcType=VARCHAR},
      C_REC_ADDRESS = #{cRecAddress,jdbcType=VARCHAR},
      C_REC_COMPANY = #{cRecCompany,jdbcType=VARCHAR},
      C_REC_MOBILE = #{cRecMobile,jdbcType=VARCHAR},
      C_REC_NAME = #{cRecName,jdbcType=VARCHAR},
      C_REMARK = #{cRemark,jdbcType=VARCHAR},
      C_SEND_ADDRESS = #{cSendAddress,jdbcType=VARCHAR},
      C_SEND_COMPANY = #{cSendCompany,jdbcType=VARCHAR},
      C_SEND_MOBILE = #{cSendMobile,jdbcType=VARCHAR},
      C_SEND_MOBILE_MSG = #{cSendMobileMsg,jdbcType=VARCHAR},
      C_SEND_NAME = #{cSendName,jdbcType=VARCHAR},
      C_SEND_PRO_NUM = #{cSendProNum,jdbcType=VARCHAR},
      C_STATUS = #{cStatus,jdbcType=VARCHAR},
      C_TELEPHONE = #{cTelephone,jdbcType=VARCHAR},
      C_WEIGHT = #{cWeight,jdbcType=DOUBLE},
      C_COURIER_ID = #{cCourierId,jdbcType=INTEGER},
      C_REC_AREA_ID = #{cRecAreaId,jdbcType=VARCHAR},
      C_SEND_AREA_ID = #{cSendAreaId,jdbcType=VARCHAR}
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
</mapper>