<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.bos.mapper.TSubArchiveMapper" >
  <resultMap id="BaseResultMap" type="com.logistics.module.bos.model.TSubArchive" >
    <id column="C_ID" property="cId" jdbcType="INTEGER" />
    <result column="C_MNEMONIC_CODE" property="cMnemonicCode" jdbcType="VARCHAR" />
    <result column="C_MOTHBALLED" property="cMothballed" jdbcType="CHAR" />
    <result column="C_OPERATING_COMPANY" property="cOperatingCompany" jdbcType="VARCHAR" />
    <result column="C_OPERATING_TIME" property="cOperatingTime" jdbcType="TIMESTAMP" />
    <result column="C_OPERATOR" property="cOperator" jdbcType="VARCHAR" />
    <result column="C_REMARK" property="cRemark" jdbcType="VARCHAR" />
    <result column="C_SUB_ARCHIVE_NAME" property="cSubArchiveName" jdbcType="VARCHAR" />
    <result column="C_ARCHIVE_ID" property="cArchiveId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_ID, C_MNEMONIC_CODE, C_MOTHBALLED, C_OPERATING_COMPANY, C_OPERATING_TIME, C_OPERATOR, 
    C_REMARK, C_SUB_ARCHIVE_NAME, C_ARCHIVE_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.logistics.module.bos.model.TSubArchiveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sub_archive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sub_archive
    where C_ID = #{cId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.logistics.module.bos.model.TSubArchive" >
    insert into t_sub_archive (C_ID, C_MNEMONIC_CODE, C_MOTHBALLED, 
      C_OPERATING_COMPANY, C_OPERATING_TIME, C_OPERATOR, 
      C_REMARK, C_SUB_ARCHIVE_NAME, C_ARCHIVE_ID
      )
    values (#{cId,jdbcType=INTEGER}, #{cMnemonicCode,jdbcType=VARCHAR}, #{cMothballed,jdbcType=CHAR}, 
      #{cOperatingCompany,jdbcType=VARCHAR}, #{cOperatingTime,jdbcType=TIMESTAMP}, #{cOperator,jdbcType=VARCHAR}, 
      #{cRemark,jdbcType=VARCHAR}, #{cSubArchiveName,jdbcType=VARCHAR}, #{cArchiveId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.logistics.module.bos.model.TSubArchive" >
    insert into t_sub_archive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cMnemonicCode != null" >
        C_MNEMONIC_CODE,
      </if>
      <if test="cMothballed != null" >
        C_MOTHBALLED,
      </if>
      <if test="cOperatingCompany != null" >
        C_OPERATING_COMPANY,
      </if>
      <if test="cOperatingTime != null" >
        C_OPERATING_TIME,
      </if>
      <if test="cOperator != null" >
        C_OPERATOR,
      </if>
      <if test="cRemark != null" >
        C_REMARK,
      </if>
      <if test="cSubArchiveName != null" >
        C_SUB_ARCHIVE_NAME,
      </if>
      <if test="cArchiveId != null" >
        C_ARCHIVE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cMnemonicCode != null" >
        #{cMnemonicCode,jdbcType=VARCHAR},
      </if>
      <if test="cMothballed != null" >
        #{cMothballed,jdbcType=CHAR},
      </if>
      <if test="cOperatingCompany != null" >
        #{cOperatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="cOperatingTime != null" >
        #{cOperatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cOperator != null" >
        #{cOperator,jdbcType=VARCHAR},
      </if>
      <if test="cRemark != null" >
        #{cRemark,jdbcType=VARCHAR},
      </if>
      <if test="cSubArchiveName != null" >
        #{cSubArchiveName,jdbcType=VARCHAR},
      </if>
      <if test="cArchiveId != null" >
        #{cArchiveId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.logistics.module.bos.model.TSubArchiveExample" resultType="java.lang.Integer" >
    select count(*) from t_sub_archive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sub_archive
    <set >
      <if test="record.cId != null" >
        C_ID = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cMnemonicCode != null" >
        C_MNEMONIC_CODE = #{record.cMnemonicCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cMothballed != null" >
        C_MOTHBALLED = #{record.cMothballed,jdbcType=CHAR},
      </if>
      <if test="record.cOperatingCompany != null" >
        C_OPERATING_COMPANY = #{record.cOperatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.cOperatingTime != null" >
        C_OPERATING_TIME = #{record.cOperatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cOperator != null" >
        C_OPERATOR = #{record.cOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.cRemark != null" >
        C_REMARK = #{record.cRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.cSubArchiveName != null" >
        C_SUB_ARCHIVE_NAME = #{record.cSubArchiveName,jdbcType=VARCHAR},
      </if>
      <if test="record.cArchiveId != null" >
        C_ARCHIVE_ID = #{record.cArchiveId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sub_archive
    set C_ID = #{record.cId,jdbcType=INTEGER},
      C_MNEMONIC_CODE = #{record.cMnemonicCode,jdbcType=VARCHAR},
      C_MOTHBALLED = #{record.cMothballed,jdbcType=CHAR},
      C_OPERATING_COMPANY = #{record.cOperatingCompany,jdbcType=VARCHAR},
      C_OPERATING_TIME = #{record.cOperatingTime,jdbcType=TIMESTAMP},
      C_OPERATOR = #{record.cOperator,jdbcType=VARCHAR},
      C_REMARK = #{record.cRemark,jdbcType=VARCHAR},
      C_SUB_ARCHIVE_NAME = #{record.cSubArchiveName,jdbcType=VARCHAR},
      C_ARCHIVE_ID = #{record.cArchiveId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.logistics.module.bos.model.TSubArchive" >
    update t_sub_archive
    <set >
      <if test="cMnemonicCode != null" >
        C_MNEMONIC_CODE = #{cMnemonicCode,jdbcType=VARCHAR},
      </if>
      <if test="cMothballed != null" >
        C_MOTHBALLED = #{cMothballed,jdbcType=CHAR},
      </if>
      <if test="cOperatingCompany != null" >
        C_OPERATING_COMPANY = #{cOperatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="cOperatingTime != null" >
        C_OPERATING_TIME = #{cOperatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cOperator != null" >
        C_OPERATOR = #{cOperator,jdbcType=VARCHAR},
      </if>
      <if test="cRemark != null" >
        C_REMARK = #{cRemark,jdbcType=VARCHAR},
      </if>
      <if test="cSubArchiveName != null" >
        C_SUB_ARCHIVE_NAME = #{cSubArchiveName,jdbcType=VARCHAR},
      </if>
      <if test="cArchiveId != null" >
        C_ARCHIVE_ID = #{cArchiveId,jdbcType=INTEGER},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.logistics.module.bos.model.TSubArchive" >
    update t_sub_archive
    set C_MNEMONIC_CODE = #{cMnemonicCode,jdbcType=VARCHAR},
      C_MOTHBALLED = #{cMothballed,jdbcType=CHAR},
      C_OPERATING_COMPANY = #{cOperatingCompany,jdbcType=VARCHAR},
      C_OPERATING_TIME = #{cOperatingTime,jdbcType=TIMESTAMP},
      C_OPERATOR = #{cOperator,jdbcType=VARCHAR},
      C_REMARK = #{cRemark,jdbcType=VARCHAR},
      C_SUB_ARCHIVE_NAME = #{cSubArchiveName,jdbcType=VARCHAR},
      C_ARCHIVE_ID = #{cArchiveId,jdbcType=INTEGER}
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
</mapper>