<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.crm.mapper.TCustomerMapper" >
 <select id="queryByFixedAreaId" resultMap="BaseResultMap" parameterType="map">
 SELECT <include refid="Base_Column_List" />
 FROM t_customer 
 WHERE C_Fixed_AREA_ID IN (#{fixedAreaId})
 </select>
 <update id="updateFixedAreaId" parameterType="map">
 update t_customer
 set C_Fixed_AREA_ID = #{fixedAreaId}
 where C_ID = #{id}
 </update>
 
<select id="queryTotalByFixedAreaId" resultType="java.lang.Integer" parameterType="map">
  select count(*) from t_customer
  where C_Fixed_AREA_ID = #{fixedAreaId}
  </select>
</mapper>