<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.bos.mapper.TOrderMapper" >
 <select id="queryByOrderNum" resultMap="BaseResultMap" parameterType="map">
 select <include refid="Base_Column_List" />
 from t_order
 where C_ORDER_NUM = #{orderNum}
 </select>
 <select id="queryDisSendAddress" resultMap="BaseResultMap" parameterType="map">
 SELECT <include refid="Base_Column_List" /> 
 FROM t_order 
 WHERE C_SEND_MOBILE = #{sendMobile} 
 GROUP BY C_SEND_ADDRESS
  order by C_ORDER_TIME desc
 </select>
 <select id="queryDisRecAddress" resultMap="BaseResultMap" parameterType="map">
 SELECT <include refid="Base_Column_List" /> 
 FROM t_order 
 WHERE C_SEND_MOBILE = #{sendMobile} 
 GROUP BY C_REC_ADDRESS
 order by C_ORDER_TIME desc
 </select>
 <select id="queryByTelephoneAndStatus" resultMap="BaseResultMap" parameterType="map">
  SELECT <include refid="Base_Column_List" /> 
 FROM t_order 
 WHERE C_SEND_MOBILE = #{sendMobile} and C_STATUS = #{status}
 order by C_ORDER_TIME desc
 </select>
</mapper>