<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.bos.mapper.TUserMapper" >
<update id="updatePWD" parameterType="map">
update t_user
set C_PASSWORD = #{password}
where C_ID = #{userNum}
</update>

<select id="queryTotal" resultType="java.lang.Integer">
  select count(*) from t_user
  </select>
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="map">
  select <include refid="Base_Column_List" />
  from t_user
  limit #{pageNum},#{pageSize}
  </select>
  <delete id="deleteSelect" parameterType="map">
  delete  FROM t_user where C_ID = #{id}
  </delete>
 
<select id="queryTotalByIdorName" resultType="java.lang.Integer" parameterType="map">
  select count(*) from t_user
  where 1=1 
  <if test="cId != null">
   and  C_ID = #{cId}
  </if>
  <if test="cUsername != null">
   and C_USERNAME = #{cUsername}
  </if>
 </select>
  
<select id="queryByIdorName" resultMap="BaseResultMap" parameterType="map">
  select <include refid="Base_Column_List" />
  from t_user
  where 1=1 
  <if test="cId != null">
   and  C_ID = #{cId}
  </if>
  <if test="cUsername != null">
   and C_USERNAME = #{cUsername}
  </if>
   limit #{pageNum},#{pageSize}
  </select>
</mapper>