<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.module.mapper.TFixedAreaMapper" >
  <resultMap id="BaseResultMap" type="com.logistics.module.model.TFixedArea" >
    <id column="C_ID" property="cId" jdbcType="VARCHAR" />
    <result column="C_COMPANY" property="cCompany" jdbcType="VARCHAR" />
    <result column="C_FIXED_AREA_LEADER" property="cFixedAreaLeader" jdbcType="VARCHAR" />
    <result column="C_FIXED_AREA_NAME" property="cFixedAreaName" jdbcType="VARCHAR" />
    <result column="C_OPERATING_COMPANY" property="cOperatingCompany" jdbcType="VARCHAR" />
    <result column="C_OPERATING_TIME" property="cOperatingTime" jdbcType="TIMESTAMP" />
    <result column="C_OPERATOR" property="cOperator" jdbcType="VARCHAR" />
    <result column="C_TELEPHONE" property="cTelephone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_ID, C_COMPANY, C_FIXED_AREA_LEADER, C_FIXED_AREA_NAME, C_OPERATING_COMPANY, C_OPERATING_TIME, 
    C_OPERATOR, C_TELEPHONE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.logistics.module.model.TFixedAreaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_fixed_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_fixed_area
    where C_ID = #{cId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.logistics.module.model.TFixedArea" >
    insert into t_fixed_area (C_ID, C_COMPANY, C_FIXED_AREA_LEADER, 
      C_FIXED_AREA_NAME, C_OPERATING_COMPANY, C_OPERATING_TIME, 
      C_OPERATOR, C_TELEPHONE)
    values (#{cId,jdbcType=VARCHAR}, #{cCompany,jdbcType=VARCHAR}, #{cFixedAreaLeader,jdbcType=VARCHAR}, 
      #{cFixedAreaName,jdbcType=VARCHAR}, #{cOperatingCompany,jdbcType=VARCHAR}, #{cOperatingTime,jdbcType=TIMESTAMP}, 
      #{cOperator,jdbcType=VARCHAR}, #{cTelephone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.logistics.module.model.TFixedArea" >
    insert into t_fixed_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cCompany != null" >
        C_COMPANY,
      </if>
      <if test="cFixedAreaLeader != null" >
        C_FIXED_AREA_LEADER,
      </if>
      <if test="cFixedAreaName != null" >
        C_FIXED_AREA_NAME,
      </if>
      <if test="cOperatingCompany != null" >
        C_OPERATING_COMPANY,
      </if>
      <if test="cOperatingTime != null" >
        C_OPERATING_TIME,
      </if>
      <if test="cOperator != null" >
        C_OPERATOR,
      </if>
      <if test="cTelephone != null" >
        C_TELEPHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cCompany != null" >
        #{cCompany,jdbcType=VARCHAR},
      </if>
      <if test="cFixedAreaLeader != null" >
        #{cFixedAreaLeader,jdbcType=VARCHAR},
      </if>
      <if test="cFixedAreaName != null" >
        #{cFixedAreaName,jdbcType=VARCHAR},
      </if>
      <if test="cOperatingCompany != null" >
        #{cOperatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="cOperatingTime != null" >
        #{cOperatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cOperator != null" >
        #{cOperator,jdbcType=VARCHAR},
      </if>
      <if test="cTelephone != null" >
        #{cTelephone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.logistics.module.model.TFixedAreaExample" resultType="java.lang.Integer" >
    select count(*) from t_fixed_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_fixed_area
    <set >
      <if test="record.cId != null" >
        C_ID = #{record.cId,jdbcType=VARCHAR},
      </if>
      <if test="record.cCompany != null" >
        C_COMPANY = #{record.cCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.cFixedAreaLeader != null" >
        C_FIXED_AREA_LEADER = #{record.cFixedAreaLeader,jdbcType=VARCHAR},
      </if>
      <if test="record.cFixedAreaName != null" >
        C_FIXED_AREA_NAME = #{record.cFixedAreaName,jdbcType=VARCHAR},
      </if>
      <if test="record.cOperatingCompany != null" >
        C_OPERATING_COMPANY = #{record.cOperatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.cOperatingTime != null" >
        C_OPERATING_TIME = #{record.cOperatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cOperator != null" >
        C_OPERATOR = #{record.cOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.cTelephone != null" >
        C_TELEPHONE = #{record.cTelephone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_fixed_area
    set C_ID = #{record.cId,jdbcType=VARCHAR},
      C_COMPANY = #{record.cCompany,jdbcType=VARCHAR},
      C_FIXED_AREA_LEADER = #{record.cFixedAreaLeader,jdbcType=VARCHAR},
      C_FIXED_AREA_NAME = #{record.cFixedAreaName,jdbcType=VARCHAR},
      C_OPERATING_COMPANY = #{record.cOperatingCompany,jdbcType=VARCHAR},
      C_OPERATING_TIME = #{record.cOperatingTime,jdbcType=TIMESTAMP},
      C_OPERATOR = #{record.cOperator,jdbcType=VARCHAR},
      C_TELEPHONE = #{record.cTelephone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.logistics.module.model.TFixedArea" >
    update t_fixed_area
    <set >
      <if test="cCompany != null" >
        C_COMPANY = #{cCompany,jdbcType=VARCHAR},
      </if>
      <if test="cFixedAreaLeader != null" >
        C_FIXED_AREA_LEADER = #{cFixedAreaLeader,jdbcType=VARCHAR},
      </if>
      <if test="cFixedAreaName != null" >
        C_FIXED_AREA_NAME = #{cFixedAreaName,jdbcType=VARCHAR},
      </if>
      <if test="cOperatingCompany != null" >
        C_OPERATING_COMPANY = #{cOperatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="cOperatingTime != null" >
        C_OPERATING_TIME = #{cOperatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cOperator != null" >
        C_OPERATOR = #{cOperator,jdbcType=VARCHAR},
      </if>
      <if test="cTelephone != null" >
        C_TELEPHONE = #{cTelephone,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.logistics.module.model.TFixedArea" >
    update t_fixed_area
    set C_COMPANY = #{cCompany,jdbcType=VARCHAR},
      C_FIXED_AREA_LEADER = #{cFixedAreaLeader,jdbcType=VARCHAR},
      C_FIXED_AREA_NAME = #{cFixedAreaName,jdbcType=VARCHAR},
      C_OPERATING_COMPANY = #{cOperatingCompany,jdbcType=VARCHAR},
      C_OPERATING_TIME = #{cOperatingTime,jdbcType=TIMESTAMP},
      C_OPERATOR = #{cOperator,jdbcType=VARCHAR},
      C_TELEPHONE = #{cTelephone,jdbcType=VARCHAR}
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>